{% extends "base.html" %}
{% load i18n %}



{% load allauth account socialaccount %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}

<style>
    .wrapping{
        margin: 0 auto;
        width: 400px;
        margin-top: 100px;
        padding-right:40px;
    }
</style>

<div class="wrapping container">
    {% element h1 %}
        {% trans "Sign In" %}
    {% endelement %}
    <p>
        {% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
    </p>
    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {{form|crispy}}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
        <button class="btn btn-primary py-3 w-100 mb-4" type="submit">{% trans "Sign In" %} &raquo;</button>
        {% endslot %}
    {% endelement %}
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
</div>
{% endblock content %}
