{% extends 'base.html' %}
{% load static %}

{% load partials %}

{% partialdef map-partial %}
<div class="section">
    {{mapping | safe}}
</div>
{% endpartialdef %}


{% block content %}
  <div class="hero">
    <div class="hero-slide">
      <div
        class="img overlay"
        style="background-image: url('{% static 'images/hero_bg_3.jpg' %}')"
      ></div>
      <div
        class="img overlay"
        style="background-image: url('{% static 'images/hero_bg_2.jpg' %}')"
      ></div>
      <div
        class="img overlay"
        style="background-image: url('{% static 'images/hero_bg_1.jpg' %}')"
      ></div>
    </div>

    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-9 text-center">
          <h1 class="heading" data-aos="fade-up">
            Select an Area to find your dream home
          </h1>
          <form
            hx-post="{% url 'home' %}"
            hx-target=#map
            class="narrow-w form-search d-flex align-items-stretch mb-3"
            data-aos="fade-up"
            data-aos-delay="200"
          >

              <select name="area" class="form-control px-4"  required id="id_name">
                    <option value="" selected>---------</option>
            
                  {% for area in areas %}
                    <option value="{{area.name}}">{{area.name}}</option>
                  {% endfor %}
              </select>

            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div> 


      <div id="map">
        {% partial map-partial %}
      </div>

{% endblock content %}
  

